<div style="display: flex">
<div style="margin: 30px; margin-left: 5px">
<button mxTooltip [position]="'left'" content="Pirates team" >
  left
</button>
</div>
<div style="margin: 30px; margin-top: 3px">
  <button mxTooltip content="Pirates team" [position]="'top'">
    above
  </button>
</div>
<div style="margin: 30px">
  <button mxTooltip content="Pirates team" position="bottom">
    below
  </button>
</div>
<div style="margin: 30px">
  <button mxTooltip content="Pirates team" position="right">
    Right
  </button>
</div>
</div>

